node_modules/
shellInjectionFilename.txt
package-lock.json
tmp.txt
my_log.txt
.sublime-project
.sublime-project.sublime-workspace
somerandomfilename.txt
cloudsolutiondesigntool
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iws
out/
.idea_modules/
.idea/replstate.xml
serializedUserInput.txt
.eslintrc.js
create_file.o
